.wrapper {
    height: 100vh;
}

.logoImage {
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    height: 100%;
}

.chrisImage {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

.chrisImage > div {
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.2;
}